# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
.vscode/extensions.json
snake/dqn_model_dqn_episode_1.keras
snake/dqn_model_dqn_episode_0.keras
snake/dqn_model_dfs_episode_1.keras
snake/dqn_model_dfs_episode_0.keras
snake/dqn_model_bfs_episode_1.keras
snake/dqn_model_bfs_episode_0.keras
snake/dqn_model_a_star_episode_1.keras
snake/dqn_model_a_star_episode_0.keras
snake/dqn_model.keras
snake/6InputModels/dqn_model_dfs_episode_0.keras
snake/6InputModels/dqn_model_bfs_episode_0.keras
snake/6InputModels/dqn_model_a_star_episode_0.keras
snake/6InputModels/dqn_model.keras
snake/6InputModels/dqn_model.h5
snake/results.json
flappy_bird/dq_agent_model_episode_9.keras
flappy_bird/dq_agent_model_episode_8.keras
flappy_bird/dq_agent_model_episode_7.keras
flappy_bird/dq_agent_model_episode_68.keras
flappy_bird/dq_agent_model_episode_67.keras
flappy_bird/dq_agent_model_episode_66.keras
flappy_bird/dq_agent_model_episode_65.keras
flappy_bird/dq_agent_model_episode_64.keras
flappy_bird/dq_agent_model_episode_63.keras
flappy_bird/dq_agent_model_episode_62.keras
flappy_bird/dq_agent_model_episode_61.keras
flappy_bird/dq_agent_model_episode_60.keras
flappy_bird/dq_agent_model_episode_6.keras
flappy_bird/dq_agent_model_episode_59.keras
flappy_bird/dq_agent_model_episode_58.keras
flappy_bird/dq_agent_model_episode_57.keras
flappy_bird/dq_agent_model_episode_56.keras
flappy_bird/dq_agent_model_episode_55.keras
flappy_bird/dq_agent_model_episode_54.keras
flappy_bird/dq_agent_model_episode_53.keras
flappy_bird/dq_agent_model_episode_52.keras
flappy_bird/dq_agent_model_episode_51.keras
flappy_bird/dq_agent_model_episode_50.keras
flappy_bird/dq_agent_model_episode_5.keras
flappy_bird/dq_agent_model_episode_49.keras
flappy_bird/dq_agent_model_episode_48.keras
flappy_bird/dq_agent_model_episode_47.keras
flappy_bird/dq_agent_model_episode_46.keras
flappy_bird/dq_agent_model_episode_45.keras
flappy_bird/dq_agent_model_episode_44.keras
flappy_bird/dq_agent_model_episode_43.keras
flappy_bird/dq_agent_model_episode_42.keras
flappy_bird/dq_agent_model_episode_41.keras
flappy_bird/dq_agent_model_episode_40.keras
flappy_bird/dq_agent_model_episode_4.keras
flappy_bird/dq_agent_model_episode_39.keras
flappy_bird/dq_agent_model_episode_38.keras
flappy_bird/dq_agent_model_episode_37.keras
flappy_bird/dq_agent_model_episode_36.keras
flappy_bird/dq_agent_model_episode_35.keras
flappy_bird/dq_agent_model_episode_34.keras
flappy_bird/dq_agent_model_episode_33.keras
flappy_bird/dq_agent_model_episode_32.keras
flappy_bird/dq_agent_model_episode_31.keras
flappy_bird/dq_agent_model_episode_30.keras
flappy_bird/dq_agent_model_episode_3.keras
flappy_bird/dq_agent_model_episode_29.keras
flappy_bird/dq_agent_model_episode_28.keras
flappy_bird/dq_agent_model_episode_27.keras
flappy_bird/dq_agent_model_episode_26.keras
flappy_bird/dq_agent_model_episode_25.keras
flappy_bird/dq_agent_model_episode_24.keras
flappy_bird/dq_agent_model_episode_23.keras
flappy_bird/dq_agent_model_episode_22.keras
flappy_bird/dq_agent_model_episode_21.keras
flappy_bird/dq_agent_model_episode_20.keras
flappy_bird/dq_agent_model_episode_2.keras
flappy_bird/dq_agent_model_episode_19.keras
flappy_bird/dq_agent_model_episode_18.keras
flappy_bird/dq_agent_model_episode_17.keras
flappy_bird/dq_agent_model_episode_16.keras
flappy_bird/dq_agent_model_episode_15.keras
flappy_bird/dq_agent_model_episode_14.keras
flappy_bird/dq_agent_model_episode_13.keras
flappy_bird/dq_agent_model_episode_12.keras
flappy_bird/dq_agent_model_episode_11.keras
flappy_bird/dq_agent_model_episode_10.keras
flappy_bird/dq_agent_model_episode_1.keras
flappy_bird/dq_agent_model_ep3.keras
flappy_bird/dq_agent_model_ep2.keras
flappy_bird/dq_agent_model_ep100.keras
flappy_bird/dq_agent_model_ep10.keras
flappy_bird/dq_agent_model_best.keras
flappy_bird/complex/dq_agent_model_ep3.keras
flappy_bird/complex/dq_agent_model_ep2.keras
flappy_bird/complex/dq_agent_model_ep1000.keras
flappy_bird/complex/dq_agent_model_ep100.keras
flappy_bird/complex/dq_agent_model_ep10.keras
flappy_bird/complex/dq_agent_model.keras
flappy_bird/Old/dq_agent_model.h5
flappy_bird/Old/dq_agent_model.keras
flappy_bird/Old/dq_agent_model_final.keras
flappy_bird/Old/dq_agent_model_interrupted.keras
flappy_bird/Old/train_dq_agent.py
